/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/sandbox/
/tmp/
/lib/*.bundle

# rspec failure tracking
.rspec_status

# use obj_ruby.gemspec instead
Gemfile.lock

# force empty directories
!.keep

.tool-versions